#about-banner {
  background-image: url("../img/about/about-banner.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

#about-banner h2,
#about-banner p {
  color: #fff; }

#about-app {
  margin-top: 30px;
  text-align: center;
  font-size: 40px; }

#about-app a {
  color: #088178; }

#about-app .video {
  width: 70%;
  height: 100%;
  margin: 30px auto 0 auto; }

#about-app video {
  width: 100%;
  height: 100%;
  border-radius: 20px; }
