 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>SNEAKERS</title>
</head>
<section id="newsletter" class="section-p1 section-m1">
        <div class="newstext">
            <h4>Đăng ký bằng Email</h4>
            <p>Đăng ký để nhận được những thông báo mới nhất và <span>những ưu đãi đặc biệt.</span></p>
        </div>
        <div class="form">
            <input type="email" placeholder="Nhập mail của bạn">
            <button>Đăng ký</button>
        </div>
    </section>
 <footer class="footer section-p1">
        <div class="footer-addr">
         <a href="/home"> <img src="/img/logo.png" alt="">  </a>
          <h2>Contact</h2>     
          <address>
            Thành phố Thủ Đức, Tp.HCM<br>
            <a class="footer-btn" href="mailto:htsang1939@gmail.com">Liên hệ qua Email</a>
          </address>
        </div>
        <ul class="footer-nav">
          <li class="nav-item">
            <h2 class="nav-title">About</h2>
            <ul class="nav-ul">
              <li><a href="/about">About us</a></li>  
              <li><a href="#">Privacy Policy</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <h2 class="nav-title">My Account</h2>
            <ul class="nav-ul">
              <li><a href="/cart">View Cart</a></li>
              <li><a href="#">Track My Order</a></li>
              <li><a href="#">Help</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <h2 class="nav-title">Install App</h2> 
            <p>From App Store or Google Play</p>
            <div class="row">
                <img src="/img/pay/app.jpg" alt="">
                <img src="/img/pay/play.jpg" alt="">
            </div>
            <p>Secured Payment Gateways</p>
            <img src="/img/pay/pay.png" alt="">
          </li>
        </ul>
        
        <div class="legal">
          <p>&copy; 2022 Something. All rights reserved.</p>
        </div>
    </footer>