<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>SNEAKERS</title>
</head>
<body>
    <section id="header">
        <a href="/"><img src="./img/logo.png" class="logo" alt=""></a>
        <div>
            <ul id="navbar">
                <i id="close" class="fas fa-times"></i>
                <li><a href="home">Trang chủ</a></li>
                <li><a href="shop">Cửa hàng</a></li>
                <li><a href="blog">Blog</a></li>
                <li><a href="about">Giới thiệu</a></li>
                <li><a href="contact">Liên hệ</a></li>
                <li id="bag"><a href="cart"><i class="fas fa-shopping-basket"></i></a></li>
            </ul>
        </div>
        <div id="mobile">
            <a href="cart"><i class="fas fa-shopping-basket"></i></a>
            <i id="bar" class="fas fa-outdent"></i>
        </div>
    </section>
    <script>
        const activeMenu = window.location.pathname;
        const navbarElements = document.querySelectorAll('li a').forEach(link => {
            if (link.href.includes(`${activeMenu}`)){
                link.classList.add('active')
            }
            if(activeMenu == "/"){
                link.classList.remove('active')
            }
        })
    </script>
</body>
