<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>SNEAKERS</title>
</head>
<body>
    <section id="about-banner" class="">
        <h2>#KnowUs</h2>
        <p>Chất lượng giày, ưu tiên của chúng tôi</p>
    </section>

    <section id="about-app" class="section-p1">
        <h1> Download Our <a href="#">App</a> </h1>
        <div class="video">
            <video autoplay muted loop src="./img/about/app.mp4"></video>
        </div>
    </section>

    <section id="feature" class="section-p1">
        <div class="fea-box">
            <img src="./img/feature/f1.png" alt="">
            <h6>Free Delivery</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f2.png" alt="">
            <h6>Online Order</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f3.png" alt="">
            <h6>Save Money</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f4.png" alt="">
            <h6>Promotions</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f5.png" alt="">
            <h6>Happy sell</h6>
        </div>
        <div class="fea-box">
            <img src="./img/feature/f6.png" alt="">
            <h6>24/7 Support</h6>
        </div>
    </section>
    <script src="script.js"></script>
</body>
</html>