<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>SNEAKERS</title>
</head>
<body>
    <section id="blog-banner" class="">
        <h2>#readmore</h2>
        <p>Những thông tin hay hữu ích cho bạn</p>
    </section>

    <section id="blog">
      <div class="blog-box">
        <div class="blog-img">
          <img src="./img/blog/custom-giay.jpg" alt="">
        </div>
        <div class="blog-details">
          <h4>Custome là gì? Cách custome sneaker bằng màu acrylic cực đẹp</h4>
          <p>Khoảng thời gian gần đây, SaigonSneaker.com nhận được khá nhiều câu hỏi và thắc mắc về một phong cách thời trang đang dần lấy lại</p>
          <a href="#">Đọc tiếp</a>
        </div>
        <h1>1/01</h1>
      </div>

      <div class="blog-box">
        <div class="blog-img">
          <img src="./img/blog/custom-giay.jpg" alt="">
        </div>
        <div class="blog-details">
          <h4>Custome là gì? Cách custome sneaker bằng màu acrylic cực đẹp</h4>
          <p>Khoảng thời gian gần đây, SaigonSneaker.com nhận được khá nhiều câu hỏi và thắc mắc về một phong cách thời trang đang dần lấy lại</p>
          <a href="#">Đọc tiếp</a>
        </div>
        <h1>1/01</h1>
      </div>

      <div class="blog-box">
        <div class="blog-img">
          <img src="./img/blog/custom-giay.jpg" alt="">
        </div>
        <div class="blog-details">
          <h4>Custome là gì? Cách custome sneaker bằng màu acrylic cực đẹp</h4>
          <p>Khoảng thời gian gần đây, SaigonSneaker.com nhận được khá nhiều câu hỏi và thắc mắc về một phong cách thời trang đang dần lấy lại</p>
          <a href="#">Đọc tiếp</a>
        </div>
        <h1>1/01</h1>
      </div>
    </section>

    <section id="pagination">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#"><i class="fas fa-long-arrow-alt-right"></i></a>
    </section>
    <script src="script.js"></script>
</body>
</html>