<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <title>SNEAKERS</title>
</head>
<body>
    <section id="about-banner" class="">
        <h2>#cart</h2>
        <p>Nhập mã giảm giá để tận hưởng ưu đãi lên đến 70%</p>
    </section>
    
    <section id="cart">
        <div class="cart-container">
        </div>
        <div class="total">
          <div class="total-title">Tổng cộng</div>
          <div id="total-price" class="total-price">0 VND</div>
        </div>
        <button type="button" class="btn-buy">Thanh toán ngay</button>
    </section>
</html>